control-height = 30px

.module.color-picker
  
  &.over
    position: absolute
  
  &.in
    position: static
  
  .slide-control
    // display: none
    height: control-height
    position: relative
    margin-bottom:30px
    
    > a
      height: control-height
      line-height: control-height
      position: absolute
      background:transparent
      border:none
      font-family:FontAwesome
      color:#fff
      text-align:center
      font-size:2em
      padding:0 10px
      cursor:pointer
      display:block
      font-weight:800px
      top:-3px

      &:focus
        border:none
        box-shadow:none

      &[disabled]
        color:#5c676d
        cursor:none

    .left
      left: -10px
    
    .right
      right: -10px
  
  .color-palette
    width:210px
    
    li
      display:inline-block
      margin-right:8px
      margin-bottom:8px
      width:44px
      height:44px
      background-color:#fff
    
      &:nth-child(4n)
        margin-right:0

  .actions
    position: relative
    bottom: 0

    &::after
      content: "\f111";
      position:absolute
      right:0
      top:23px
      font-size:0.6rem
      display:block
      color:#fff
      font-family:FontAwesome

    .color-code
      width:100%
      background-color:transparent
      padding:16px 0
      border:none
      color:#fff
      font-weight:800
      font-size:1.2rem
      border-bottom:solid #5c676d 1px
    
  input[type="submit"]
    margin-top:29px