<div class="box">

  <div class="slide-control">
    <a class="left fa-icon fa-angle-left" disabled></a>
    <a class="right fa-icon fa-angle-right"></a>
  </div>

  <div class="slides">

    <div class="color-palette">
      
      <ul>
        <li data-color="#a0d468"></li>
        <li data-color="#ec7963"></li>
        <li data-color="#f6bb42"></li>
        <li data-color="#37bc9b"></li>
        <li data-color="#68b5c5"></li>
        <li data-color="#967adc"></li>
        <li data-color="#d770ad"></li>
        <li data-color="#cee4f1"></li>
        <li data-color="#4a89dc"></li>
        <li data-color="#ee2e49"></li>
        <li data-color="#ecbda8"></li>
        <li data-color="#afa5c5"></li>
        <li data-color="#78b7a0"></li>
        <li data-color="#82b266"></li>
        <li data-color="#309078"></li>
        <li data-color="#b4c248"></li>
      </ul>

    </div>

    <div class="color-spectrum" hidden></div>

  </div>

  <form action="#" class="actions">
    
    <input class="color-code" type="text" name="color" value="{{this.color}}">
    
    <input type="submit" name="apply" class="apply button green{{#if this.color}} hidden{{/if}}" value="Apply new Colour">
    <input type="submit" name="remove" class="remove button red{{#unless this.color}} hidden{{/unless}}" value="Remove / Unpin">

  </form>

</div>
