.invite-page
  color: #fff;
  font-family: Lato;
  font-weight: 300;

  .header
    line-height:100px
    width:100%
    margin-bottom:29px
    
    .nav
      float:right
      margin-top:3px

      a
        color:#fff
        text-transform:capitalize
    
    .logo
      float:left
      font-size:2em
      font-weight:bold
      
      img
        margin-right:0.5em
        vertical-align:middle
  
  .subtitle
    text-align:center
    font-size:2em
    font-family:Lato, sans-serif
    margin-bottom:38px
  
  .screenshots
    position:relative
    height:400px
    margin-bottom:2em
    
    .screenshot
      position:absolute
      border-top-left-radius:3px
      border-top-right-radius:3px
      height:325px
      background:#fff
      z-index:1
      box-shadow: 0px -3px 15px -5px #000;
      -webkit-box-shadow: 0px -3px 15px -5px black;
      -moz-box-shadow: 0px -3px 15px -5px black;
      
      &.screenshot-left
        bottom:0
        left:0
      
      &.screenshot-middle
        width: 700px;
        height: 400px;
        left: 210px;
        z-index:2

      &.screenshot-right
        bottom:0
        right:0
  
  .invite
    text-align:center
    
    .email
      vertical-align:middle
      box-shadow:inset 0px 0px 5px rgba(0,0,0,0.4)
      height:50px
      width:30%
      border-radius: 3px;
      font-size:1.2em
      padding:0.5em

    .button
      text-transform:capitalize
      margin-left:1em
      background: #ec7963;
      border: 1px solid #af5a51;
      box-shadow: inset 0 1px 0 0 #f49785;
      text-shadow: 0 1px #af5a51;
      height: 50px;
      min-width:145px;
      font-size:16px
      font-family: Lato;
      font-weight: 300;

      &:hover
        -webkit-filter: contrast(110%);
        filter: contrast(110%);
        font-weight:500;

