.invite-page
  
  .header
    line-height:100px
    width:100%
    margin-bottom:2em
    
    .nav
      float:right
    
    .logo
      float:left
      font-size:2em
      font-weight:bold
      
      img
        width:100px
        height:100px
        margin-right:0.5em
        vertical-align:middle
  
  .subtitle
    text-align:center
    font-size:2em
    font-weight:lighter
    margin-bottom:1em
  
  .screenshots
    position:relative
    height:400px
    margin-bottom:2em
    
    .screenshot
      position:absolute
      border-top-left-radius:5px
      border-top-right-radius:5px
      height:330px
      width:480px
      background:#fff
      z-index:1
      box-shadow:0px -4px 10px rgba(0,0,0,0.5)
      
      &.screenshot-left
        bottom:0
        left:0
      
      &.screenshot-middle
        height:400px
        width:650px
        left:175px
        z-index:2
      
      &.screenshot-right
        bottom:0
        right:0
  
  .invite
    text-align:center
    
    .email
      vertical-align:middle
      box-shadow:inset 0px 0px 5px rgba(0,0,0,0.4)
      height:50px
      width:30%
      font-size:1.2em
      padding:0.5em
    
    .button
      height:48px
      margin-left:1em
      padding:1em 2em