<div class="user-profile-container">

  <form class="inner-padding">

    <div class="avatar-container">
      <img src="http://lorempixel.com/140/140/abstract/">
    </div>

    <h2>Hey, that's you!</h2>

    <div class="control-group">
      <i class="icon-user"></i> <input type="text" name="username">
    </div>

    <div class="control-group">
      <i class="icon-lock"></i> <input type="password" name="password">
    </div>

    <div class="control-group">
      <b>@</b> <input type="email" name="email_address">
    </div>

    <div class="form-actions">
      <button type="submit" class="btn btn-primary"><i class="icon-ok"></i> Save settings</button
    </div>

  </form>

</div>
