<div id="nav" class="navigation-container"></div>

<div id="contentbox" class="page-container clearfix">

  <div id="left-wrapper" class="clearfix">
    <div id="left"></div>
  </div>

  <div id="tag-explorer" class="clearfix">

    <div class="app-updates">

      <h1>new stuff &raquo;</h1>

      <ul>
        <li>Jan 13th - Focus the search bar with the slash ( / ) shortcut</li>
      </ul>

    </div>

    <h3 class="header">Tags</h3>

  </div>
</div>
