<div id="nav" class="navigation-container"></div>

<div id="contentbox" class="page-container clearfix">
  <div id="left-wrapper" class="clearfix"><div id="left"></div></div>
  <div id="right" class="clearfix"></div>
</div>
