<div id="error-container"></div>

<div id="nav" class="top navigation-container"></div>

<div id="contentbox" class="contentHolder cf">

  <div id="left-wrapper">
  </div>

  <div id="right-wrapper">
  </div>
  
</div>

<div class="overlay" id="overlay">

  <div class="popup" id="popup">

  </div>

</div><!-- /div.overlay -->
