<a href="" class="home"></a>

<ul id="profile-nav" class="navigation">
  {{#if username}}
    <li>
      <a href="#" class="notifications"><i class="fa fa-bell"></i></a>
    </li>
    <li>
      <a href="#">
        <span>{{username}}</span> <i class="fa fa-caret-down"></i>
      </a>
      <ul class="dropdown cf">
        <li>
          <a href="https://webistor.uservoice.com/forums/230349-general" class="feedback-btn" target="_blank">Send feedback</a>
        </li>
        <li>
          <a href="landing" class="js-logout">Log out</a>
        </li>
      </ul>
    </li>
  {{/if}}
</ul>

<a href="" class="logo-img">Webistor</a>
