<div id="error-container"></div>

<div class="wrapper">

  <div class="topbar clearfix">

    <div class="top-left">
      <a href="/" class="logo" title="hi :)">Webistor</a>
    </div><!-- /div.left -->

    <div class="top-right">

      <ul class="items">
        {{!-- <li><a href="#">pricing</a></li> --}}
        {{!-- <li><a href="#">blog</a></li> --}}
        {{!-- <li><a href="#">help</a></li> --}}
      </ul><!-- /div.items -->

      <div class="account buttons">
        <a href="login" class="btn login" id="trigger-overlay">Login</a>
      </div>

    </div><!-- /div.right -->

  </div><!-- /div.topbar -->

  <div class="intro">
    <h1>Store anything you want from the web</h1>
    <p>Easy to use and light-weight bookmarking</p>
    <div class="buttons">
      {{!-- <a href="#" class="btn learnmore">Learn More</a> --}}
      <a href="#" class="btn invite green" id="trigger-overlay">Request Invite</a>
      <a href="invite" class="btn invite green" id="trigger-overlay">Request Invite</a>
    </div>
  </div>

  <ul class="footer">
    {{!-- <li><a href="#">Privacy Policy</a></li> --}}
    {{!-- <li><a href="#">Terms and Conditions</a></li> --}}
    <li>- Webistor</li>
  </ul>

  <div class="image">
  </div><!-- /div.image -->

</div><!-- /div.wrapper -->

<div class="overlay" id="overlay">

  <div class="popup" id="popup">

  </div>

</div><!-- /div.overlay -->
