<div class="login-wrapper">
  <form class="login-form">
    <div>
      <label for="username">Email Address</label>
      <input type="text" name="login" id="username" value="">
    </div>
    <div>
      <label for="password">Password</label>
      {{!-- <em class="error-message">Password Incorrect</em> --}}
      <input type="password" name="password" id="password" value="">
    </div>
    <p class="remember_me">
      <input type="checkbox" name="remember-me" id="remember-me">
      <label for="remember-me">Remember me</label>
    </p><!-- /p.remember_me -->
    <p class="submit">
      <input type="submit" value="Log in" class="btn green submit clearfix" />
    </p>
    <p class="invite">
      <label>Don't have an account yet?</label>
      <a href="{{url "landing#invite"}}" class="switch">Request an invite.</a>
    </p>
    </div>
  </form><!-- /form.login-form -->
</div><!-- /div.login-wrapper -->
