<h2>Request a password reset.</h2>
<p>Please enter the e-mail address you've registered with.</p>

<form class="password-reset-form" method="post" action="#">
  <div class="inner">
    <div class="ctrlHolder">
      <label for="l_email">E-mail</label>
      <input id="l_email" autofocus type="text" name="email" placeholder="Email address" value="{{this.email}}" />
    </div>
    <div class="error-message"></div>
    <div class="buttonHolder">
      <input type="submit" class="btn green submit" value="Request">
    </div>
  </div>
</form>
