<ul class="navigation-action-bar navigation-buttons on-mobile">
  <li class="section-name"><a href="#">Home</a></li>
  <li class="js-panel-btn btn menu-btn"><a href="#" class="icon-reorder" title="Toggle menu"></a></li>
  <li class="btn new-review-btn"><a href="reviews/new" class="icon-plus" title="Nieuwe review"></a></li>
  <li class="js-panel-btn btn search-btn"><a href="#" class="icon-search" title="Zoeken"></a></li>
</ul>

<div id="navigation-permanent-panel"></div>

<div id="navigation-active-panel"></div>
