@import 'nib'

.tuble-card
  clearfix()
  background:#fff;
  color:#000
  margin-bottom:1rem;
  
  a
    display:block
  
  img
    float:left
    width:6.5rem
    margin-right:1rem

  h1
    font-weight:bold
    font-size:1.0rem

  .tuble-card-summary
    font-style:italic;
    font-family:serif;
    font-size:0.8rem;
