<div class="user-profile-container inner-padding">

  <form class="user-profile-form form">

    <div class="move-up">
    
      <div class="avatar-container">
        <img src="http://lorempixel.com/140/140/people/">
      </div>

      <h2>Hey, that's you!</h2>

      <div class="control-group">
        <i class="icon icon-user"></i> <input type="text" name="username" placeholder="Gebruikersnaam">
      </div>

      <div class="control-group">
        <i class="icon icon-lock"></i> <input type="password" name="password" placeholder="Wachtwoord">
      </div>

      <div class="control-group email">
        <b class="icon">@</b> <input type="email" name="email_address" placeholder="E-mailadres">
      </div>

      <div class="form-actions">
        <button type="submit" class="btn btn-primary"><i class="icon-ok"></i> Opslaan</button
      </div>

    </div><!-- /.move-up -->

  </form>

</div>
