<div class="header clearfix">
  <h1 id="logo">Webistor</h1>
  <div class="nav">
    <a class="login" href="{{url 'landing#login'}}">Log in</a>
  </div>
</div>
<h2>Save the information you may need later on.</h2>
<div class="screenshots">
  <img class="screenshot screenshot-left" src="images/start/screenshot-left.png" />
  <img class="screenshot screenshot-middle" src="images/start/screenshot-main.png" />
  <img class="screenshot screenshot-right" src="images/start/screenshot-right.png" />
</div>
<form class="invite" method="post" action="#">
  <input class="email" type="text" name="email" placeholder="your@address.com" />
  <input class="request button red" type="submit" value="Request invite" />
  <div class="error-message"></div>
</form>
