<div class="header clearfix">
  <h1 id="logo"><a href="{{url 'start#invite'}}">Webistor</a></h1>
  <div class="nav">
    <a class="invite" href="{{url 'start#invite'}}">Request an invite</a>
  </div>
</div>
<h2>Do log in, we have cookies!</h2>
<form class="login-form" method="post" action="#">
  <div class="inner">
    <div class="ctrlHolder">
      <label for="l_email">E-mail</label>
      <input id="l_email" autofocus type="text" name="email" placeholder="Username / Email address" />
    </div>
    <div class="ctrlHolder">
      <label for="l_password">Password</label>
      <input id="l_password" type="password" name="password" placeholder="Password" />
    </div>
    <div class="buttonHolder">
      <input type="submit" class="button red" value="Log in">
    </div>
  </div>
</form>
