<h1>Welcome to Webistor!</h1>
<form class="login-form" method="post" action="#">
  <div class="inner">
    <div class="ctrlHolder">
      <label for="l_email">E-mail</label>
      <input id="l_email" type="text" name="email" placeholder="E-mail" />
    </div>
    <div class="ctrlHolder">
      <label for="l_password">Password</label>
      <input id="l_password" type="password" name="password" placeholder="Password" />
    </div>
  </div>
  <div class="ctrlHolder">
    <input type="submit" class="button" value="Log in">
    <a class="button red" href="{{url "start#invite"}}">Request invite</a>
  </div>
</form>