<div class="header clearfix">
  <h1 id="logo"><a href="{{url 'landing#invite'}}">Webistor</a></h1>
  <div class="nav">
    <a class="invite" href="{{url 'landing#invite'}}">Request an invite</a>
  </div>
</div>

<h2>Do log in, we have cookies!</h2>

{{#if this.nocookies}}
<p>
  But it looks like you don't. Please ensure that cookies are enabled past this point.
  Cookies are required to keep you logged in during this session.
</p>

<p>
  We don't use any of the evil kind.
  You are welcome to read more about it in our <a href="/policy">privacy policy</a>.
</p>
{{/if}}

<form class="login-form" method="post" action="#">
  <div class="inner">
    <div class="ctrlHolder">
      <label for="l_email">E-mail</label>
      <input id="l_email" autofocus type="text" name="email" placeholder="Username / Email address" tabindex="1" />
    </div>
    <div class="ctrlHolder">
      <label for="l_password">Password</label>
      <input id="l_password" type="password" name="password" placeholder="Password" tabindex="2" />
    </div>
    <div class="ctrlHolder">
      <input id="l_persistent" type="checkbox" name="persistent" tabindex="3" />
      <label for="l_persistent" class="visible">Keep me logged-in</label>
    </div>
    <div class="error-message"></div>
    <div class="buttonHolder">
      <a class="password-reset" href="{{url 'landing#passwordReset'}}" tabindex="5">Forgot your password?</a>
      <input type="submit" class="button red" value="Log in" tabindex="4">
    </div>
  </div>
</form>
