<div class="header clearfix">
  <h1 id="logo"><a href="{{url 'start#invite'}}">Webistor</a></h1>
  <div class="nav">
    <a class="login" href="{{url 'start#login'}}">Log In</a>
  </div>
</div>

<h2>Request a password reset.</h2>

<form class="password-reset-form" method="post" action="#">
  <div class="inner">
    <div class="ctrlHolder">Please enter the e-mail address you've registered with.</div>
    <div class="ctrlHolder">
      <label for="l_email">E-mail</label>
      <input id="l_email" autofocus type="text" name="email" placeholder="Email address" value="{{this.email}}" />
    </div>
    <div class="buttonHolder">
      <input type="submit" class="button red" value="Request">
    </div>
  </div>
</form>
