<div class="header clearfix">
  <h1 id="logo"><a href="{{url 'start#invite'}}">Webistor</a></h1>
  <div class="nav">
    <a class="login" href="{{url 'start#login'}}">Log In</a>
  </div>
</div>

<h2>Set your new password.</h2>
<form class="password-reset-completion-form" method="post" action="#">
  <div class="inner">
    <div class="ctrlHolder">
      <label for="l_password1">New password</label>
      <input id="l_password1" type="password" name="password1" placeholder="New password" autocomplete="off" />
    </div>
    <div class="ctrlHolder">
      <label for="l_password2">Confirm password</label>
      <input id="l_password2" type="password" name="password2" placeholder="Confirm password" autocomplete="off" />
    </div>
  </div>
  <div class="error-message"></div>
  <div class="buttonHolder">
    <div class="error-message"></div>
    <input type="submit" class="button" value="Save">
  </div>
</form>
