<h2>Welcome to Webistor!</h2>
<p class="message">You can now create your account.</p>
<form class="register-form" method="post" action="#">
  <div class="inner">
    <div class="ctrlHolder email">
      <label for="l_email">Email</label>
      {{#if this.emailEditable}}
      <input id="l_email" type="text" name="email" placeholder="Email" autofocus />
      {{else}}
      <span id="l_email"></span>
      {{/if}}
    </div>
    <div class="ctrlHolder">
      <label for="l_username">Username</label>
      <input id="l_username" type="text" name="username" placeholder="Username" {{#unless this.emailEditable}}autofocus{{/unless}} />
    </div>
    <div class="ctrlHolder">
      <label for="l_password1">New password</label>
      <input id="l_password1" type="password" name="password1" placeholder="New password" />
    </div>
    <div class="ctrlHolder">
      <label for="l_password2">Confirm password</label>
      <input id="l_password2" type="password" name="password2" placeholder="Confirm password" />
    </div>
  </div>
  <div class="buttonHolder">
    <div class="error-message"></div>
    <input type="submit" class="button" value="Register">
  </div>
</form>
