<div id="container">

  <div class="wrapper">
  
    <div class="head"></div>
    
    <div class="content">
    
      <h2>Oh damn, Batman</h2>
      
      The page you're looking for does not exist..<br>
      Did you mean; <a href="#">/search/keyword</a><br>
      
      <input type="text" class="new-search" placeholder="Or type a new query and hit enter">
    
    </div>
  
  </div>

</div>