@import 'nib'

.user-profile-container
  
  display:block;

  .user-profile-form
    position:relative;
    top:5.5em;
    background-color:#fff;

    .move-up
      position:relative;
      top:-3.7em;

    h2
      text-align:center
      margin-bottom:1.25em;
      font-size:1.25em
      font-weight:normal;
    
    .avatar-container
      text-align:center
      margin-bottom:0.4em;

      img
        width:7.4em;
        height:7.4em;
        border-radius:7.4em;
        border:solid 0.25em #fff;

    .control-group
      width:100%;
      border-top:solid #cacaca 1px;
      height:3.2em;
      line-height:3.2em;
      font-size:1em;
      color:#cacaca;
      padding:0 1em;

      &.email
        border-bottom:solid #cacaca 1px;
        margin-bottom:1.75em;

      input
        border:none
        padding-left:0em;
        width:80%;
        height:80%;
        margin-left:0.8em;

      .icon
        width:0.5em;
        display:inline-block

