// nib is a powerful lib for stylus that provides cross-browser css3 mixins.
// No more vendor prefixes. http://visionmedia.github.com/nib/
@import 'nib'

.no-scroll #app-container
  overflow:hidden
  height:100%
  
#app-container
  color: #7a8499
  background: #f7f7f7
  font-size: 16px
  line-height: 23px
  font-family: "proxima_novasemibold"
  padding-top: 100px

  .contentHolder
    display:block;
    width: 1040px
    margin: 0 auto
    clear: both
    position: relative
  
  #left-wrapper
    width: 750px
    clear: both
    float: left
  
  #right-wrapper
    width: 260px
    float: right

/**
 * Overlay base styles
 */

.overlay
  position: fixed
  width: 100%
  height: 100%
  top: 0
  left: 0
  opacity: 0
  visibility: hidden
  transition: opacity 0.5s, visibility 0s 0.5s
  background-color: rgba(119, 119, 119, 0.7);

  &.open
    opacity: 1
    visibility: visible
    transition: opacity 0.5s

  .popup
    position: relative
    background: white
    width: 450px
    height: auto
    top: 50%
    margin: -200px auto 0 auto
    padding: 30px
    border-radius: 2px
    color: #577388
    font-family: 'proxima_novasemibold'
    font-size: 18px
    
    [type="text"], 
    [type="password"],
    textarea
      width: 390px;
      height: 50px;
      float: left;
      margin-top: 10px;
      margin-bottom: 20px;
      padding: 0 20px;
      border-radius: 2px;
      -moz-border-radius: 2px;
      -webkit-border-radius: 2px;
      border: 1px solid #d9d9d9;
      clear: both;
      font-size: 18px;
      font-weight: 100;
      color: #88a6bc;
    
    textarea
      height:160px
      font-size:14px
      padding:16px 20px

    [type="submit"]
      border:none;

    p.submit
      margin:1em 0;
    
    input.submit
      width:100%;
      text-align:center;

    a
      text-decoration:underline;
      color: #577388
