// nib is a powerful lib for stylus that provides cross-browser css3 mixins.
// No more vendor prefixes. http://visionmedia.github.com/nib/
@import 'nib'

#app-container
  color: #7a8499
  background: #f7f7f7
  font-size: 16px
  line-height: 23px
  font-family: "proxima_novasemibold"
  padding-top: 100px
  
  .contentHolder
    display:block;
    width: 1040px
    margin: 0 auto
    clear: both
    position: relative
  
  #left-wrapper
    width: 750px
    clear: both
    float: left
  
  #right-wrapper
    width: 260px
    float: right
