#error-container
  position: fixed
  top:0
  left:0
  width:100%

  #error

    display: none
    line-height: 30px
    font-size: 1.2em
    text-align: center
    background-color: yellow
    color: black

    .error
      margin: 10px

    .name
      font-weight: bolder
      color: red
