@import 'nib'

#nav

  .inner-center
    width: 100%
    max-width: 1040px
    height: 100%
    margin: 0 auto
    padding: 0
    position: relative

  #profile-nav
    li
      text-align:right
    .dropdown
      display: none
      width:auto
      li
        display: block
    li:hover .dropdown
      display: block
  
  &.top
    height: 70px;
    line-height: 70px;
    width: 100%;
    background: white;
    border-bottom: 1px solid #e3e3e3;
    background: #FFF;
    margin: 0;
    position: fixed;
    top: 0;
    z-index: 40;
    
    a
      color: #7a8499;
  
  .logo
    float: left;
    width: 48px;
    height: 32px;
    background: #FFF url('../images/history/webistorlogo.png') center no-repeat;
    text-indent: -9999px;
    margin-top: 15px;
  
  ul.navigation
    float: right;
    margin: 0;
    padding: 0;
    
    li
      display: inline-block;
      
      &:last-child
        margin-left: 0;
    
    .notifications
      margin-right: 80px;
    
    .profile
      height: 40px;
      width: 40px;
      background: #FFF;
      display: block;
      margin: 0;
      padding: 0;
      text-indent: -9999px;
      border-radius: 50%;
      position: absolute;
      right: 20px;
      top: 12px;
      border: 1px solid #e3e3e3;
  
  .dropdown
    background: #FFF;
    width: 200px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-box-shadow: 0px 2px 0px 0px rgba(227,227,227,1);
    -moz-box-shadow: 0px 2px 0px 0px rgba(227,227,227,1);
    box-shadow: 0px 2px 0px 0px rgba(227,227,227,1);
    position: absolute;
    right: 0;
    top: 50px;
    z-index: 44;
    
    li
      padding:0
      
      a
        display:block
        color: #7a8499;
        line-height: 40px;
        border-bottom: 1px solid #f1f1f1;
        padding: 0 10px;
      
      line-height:0
    
    li:last-child a
      border: none;
    
    &:after
      content: "\f0d8"
      font-family: 'FontAwesome'
      color: #FFF
      position: absolute
      top: -15px
      right: 10px
      
  
