@import 'nib'

.notification
  padding:30px 30px
  background:#a0d468
  border-style:solid
  border-width:1px
  color:#fff
  font-size:1.04rem

  a
    color:#fff
    font-weight:bold
    border-bottom:solid #fff 1px

  .dismiss
    border:none
    color:#75a73f
    float:right
    cursor:default

    &:hover
      color:#fff
      cursor:pointer
