@import 'nib'

#landing-page
  width: 100%
  height: 100%
  background: #599ef0 url('/images/landing/bg.svg') no-repeat;
  background-size: cover;
  color: #FFF
  font-size: 16px
  font-family: 'proxima_nova_rgregular'
  overflow: hidden

  .help
    background: white
    color: #577388

  .wrapper
    max-width: 1100px
    height: 100%
    margin: 0 auto
    position: relative
    padding:0 20px

  .topbar
    height: 70px
    width: 100%
    padding-top: 10px
    text-transform: uppercase
    font-size: 15px
    font-family: 'proxima_novasemibold'

    .top-left
      width: 150px
      float: left

      .logo
        background: url('/images/landing/logo.png')
        width: 152px
        height: 32px
        display: block
        text-indent: -9999px
        margin-top: 10px

    .top-right
      float: right
      margin-top: 12px

      .items

        li
          display: inline
          margin-right: 30px

        a
          color: #FFF
          text-decoration: none
          &:hover
            color: #577388
            padding-bottom: 5px
            border-bottom: 2px solid #577388

      .items, .account
        float: left

  .intro
    position: absolute
    height: 164px
    top: 50%
    margin-top: -82px

    h1
      font-weight: bold
      font-size: 32px
      margin: 0
      margin-bottom: 20px

    p
      font-size: 28px
      margin: 0
      margin-bottom: 52px
      font-family: 'proxima_novalight'

  .footer
    position: absolute
    bottom: 20px
    left: 0
    color: #83bef7

    li
      display: inline
      margin-right: 20px
      &:last-child
        margin: 0

    a
      color: #83bef7
      &:hover
        color: #83bef7
        border-bottom: 1px solid #83bef7

  .image
    position: absolute
    top: 140px
    left: 644px
    height: 1091px
    width: 1059px
    background: #f7f7f7
    -webkit-border-top-left-radius: 2px
    -webkit-border-bottom-left-radius: 2px
    -moz-border-radius-topleft: 2px
    -moz-border-radius-bottomleft: 2px
    border-top-left-radius: 2px
    border-bottom-left-radius: 2px
    box-shadow: 0px 0px 10px 5px rgba(64,145,236,1)
    background-image: url("/images/landing/preview.png")

  /**
    * Overlay styles. Extends styles in /views/styles/app.styl
    */

  .overlay
    background: rgba(89,158,240,0.9)

    .popup
      position: relative
      background: white
      width: 450px
      height: auto
      top: 50%
      margin: -200px auto 0 auto
      padding: 30px
      border-radius: 2px
      color: #577388
      font-family: 'proxima_novasemibold'
      font-size: 18px
      
      a
        text-decoration:underline;
        color: #577388
