#login{
  
  .login-form [type="text"], 
  .login-form [type="password"] {
    width: 390px;
    height: 50px;
    float: left;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 0 20px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border: 1px solid #d9d9d9;
    clear: both;
    font-size: 18px;
    font-weight: 100;
    color: #88a6bc;
  }
  
  .login-form [type="submit"]{
    border:none;
  }
  
  p.remember_me {
    margin: 0;
    padding: 0;
  }
  
  p.submit, p.invite{
    margin:1em 0;
  }
  
  input.submit{
    width:100%;
    text-align:center;
  }
  
}
