@import 'nib'

.history-entry
  
  display:block
  position: relative
  min-height: 100px
  padding: 20px
  margin-bottom: 30px
  background: #FFF
  box-shadow: 0px 1px 0px 0px rgb(227,227,227)
  border-radius: 2px
  
  &.active
    box-shadow: 0px 1px 2px 2px rgb(227,227,227)

  &.selected
    padding:18px
    border: solid #599EF0 2px;

  .heading-wrapper
    display:block

  .item-title
    float: left;
    font-size: 18px;
    color: #599ef0;
    padding: 0;
    margin: 0;
    font-weight: normal;
    max-width:450px;
    white-space:no-wrap;
    overflow:hidden;
    text-overflow:ellipsis;
  
  .item-date
    float: right;
    font-size: 12px;
    text-transform: uppercase;
    color: #7a8499;
  
  .item-location
    text-transform: uppercase;
    font-size: 13px;
    margin-top: 1px;
    margin-left: 30px;
    font-family: "proxima_nova_rgbold";
    color: #7a8499;
    display:inline-block;
    max-width:200px;
    white-space:no-wrap;
    overflow:hidden;
    text-overflow:ellipsis;

  .item-notes

    .first-line-toggler
      max-height:28px
      min-height:28px
      overflow-y:hidden
      transition: max-height 0.50s ease-out

  &.active
    .item-notes
      .first-line-toggler
        max-height: 10000px
        transition: max-height 0.80s ease-in;

  .item-tags
    padding: 0;
    margin: 0;
    display: block;
    clear: both;
    float: left;
    
    li
      display: inline-block;
      
    .tag
      margin-top:10px
  
  .item-actions
    position: absolute;
    right: 20px;
    bottom: 10px;
    opacity:0;
    transition:opacity 0.15s;

    a
      color: #bbb;
      
      &:hover
        color: #999

    li
      display: inline-block;

  &:hover
  &.active
    .item-actions
      transition:opacity 0.2s 0.2s, color 1s;
      opacity:1;
  
  .edit-item
    margin-right: 20px;
  
  a.tag
    display:inline-block
    line-height: 30px;
    padding: 0 10px;
    border-radius: 2px;
    color: #FFF;
    background: #577388;
    box-shadow: 0px 2px 0px 0px rgb(49,59,66);
    font-size: 13px;
    text-transform: uppercase;
    margin-right: 10px;
    font-family: "proxima_nova_rgbold";
    
    &:hover
      background:#5f7d94
