@import 'nib'

.entry
  padding:20px 20px;
  border-bottom: 1px solid #d4d7df;
  display: block;
  position:relative;
  min-width:320px

  &:nth-child(even)
    background: #f7f7f7;
  
  &:last-child
    border: none;

  &:hover
    background-color:#eee;

  .title
    font-size: 1.04rem;
    font-weight:800
    
    a
      color: #373942
  
  .url
    margin: 15px 0;
  
  .link
    color: #6cb5f4;
    font-weight: 400;
    font-style: normal;
    text-transform: lowercase;

  .entry-actions
    display:none
    position:absolute
    bottom:20px
    right:20px
    text-align:right;

    .delete
      margin-right:5px
      color:#858585
      font-size:0.85rem
      line-height:30px
      position:relative
      display:inline-block
      top:2px
      text-transform:lowercase
      transition:color 0.25s 0

      &:hover
        color:#555
        transition:color 0 0

  .actions
    text-align:right

    .cancel
      color:#858585
      font-size:0.85rem
      position:relative
      top:2px
      margin-right:5px
      text-transform:lowercase
  
  &:hover .entry-actions
    display:block

  .edit-entry-form
    input[type="text"], textarea
      padding:0
      margin-top:-2px

    #l_title
      height:auto

    .ctrlHolder
      margin-bottom: 13px;
      
      &:last-child
        margin-top: 15px;
        margin-bottom: 0;
      
      input[type="text"], textarea
        width: 100%;
        font-size: 1em;
        font-weight: 400;
        border:0;
        border: 1px solid #ccc;
        border-radius: 3px;
        min-height:30px
        padding:0 0.5em;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;

      textarea 
        min-height:100px
        padding-top:4px
        padding-bottom:4px

      label
        margin-right: 30px;
