.entry-list
  
  .search
    position: relative

  input[type=search]
    box-sizing:border-box
    display:block
    width:100%
    height: 50px
    padding: 0 50px 0 20px
    margin-bottom: 30px
    border: none
    box-shadow: 0px 1px 0px 0px rgb(227,227,227)
    font-size: 16px
    color: #7a8499
    background:#fff
  
  .search-submit
    position: absolute
    right: 20px
    top: 12px
    border: none
    background:transparent
    font-size: 20px
    color: #aaa
    font-family: 'FontAwesome'
    content: "\f002"
  
  .entry-actions
    text-align:right
    margin-bottom: 30px
    
    .add-new
      display:inline-block
