.entry-list

  .header
    clearfix()
    padding-bottom: 30px
    border-bottom:solid #dee5e7 1px

    h2
      margin: 0 10px 0 0
      font-size: 20px
      line-height: 30px
      display:inline-block
      font-size:22px
      font-family:'ProximaNova Regular', sans-serif

      &.active
        color:#ec7963

    .js-add-entry
      float:right
      min-width:93px
      position:relative
      margin:-5px 0 0 0

      .fa
        margin-right:3px;

      &.toggled
        span
          display:inline-block
