@import 'nib'

.history-page

  .header
    
    margin-bottom: 30px
    height: 30px

    h2
      margin: 0 10px 0 0
      font-size: 20px
      line-height: 30px
      display:inline-block
      font-size:22px
      font-family:'ProximaNova Regular', sans-serif

      &.active
        color:#ec7963

    .js-add-entry
      float:right
      min-width:93px
      position:relative
      top:3px
      margin:0 auto
      top: 50%;
      margin-top: -15px;

      .fa
        margin-right:3px;

      &.toggled
        span
          display:inline-block
