.history-page

  .header
    border-bottom: 1px solid #d4d7df
    box-shadow: 1px 3px 5px -3px #d4d7df
    padding:30px 15px 30px 15px
    
    h2
      margin: 0 10px 0 0
      font-size: 1.125em
      display:inline-block
      line-height:30px

  .toggle-row
    padding:5px 10px
  
    &:hover
      background:#373942

      .js-add-entry
        color:#fff;

  
    .js-add-entry
      display:block
      text-align:center
      margin:0 auto
      white-space:nowrap
      color:#333

      .fa
        margin-right:3px;

      &.toggled
        span
          width:75px
          display:inline-block

  #search-form
    float: right

    input[type="search"]
      padding:0 5px;
      font-size: 0.750em
      font-weight: 400
      height: 28px
      border: 1px solid #ccc
      border-radius: 3px
      -moz-border-radius: 3px
      -webkit-border-radius: 3px
