.pro-tip
  padding:30px 30px
  background:#a0d468
  border:solid #8cc152 1px
  margin-bottom:30px
  color:#fff
  font-size:1.04rem

  em
    margin-right:10px

  i
    margin:0 5px

  a
    color:#fff
    font-weight:bold
    border-bottom:solid #fff 1px
    cursor:move

  .dismiss
    border:none
    color:#75a73f
    float:right
    cursor:default

    &:hover
      color:#fff
      cursor:pointer
