@import 'nib'

.tag-list
  display:block

  .tag-row
    position:relative

    .tag
      padding:12px 40px 12px 30px
      display:block
      font-size:16px
      color:#67737a
      font-family:'ProximaNova Regular', sans-serif

      &.pinned
        font-family:'ProximaNova Semibold', sans-serif

      &:hover
        background-color:#dfe4e6

    .picker-trigger
      font-family:none
      position:absolute
      display:none
      top:0
      right:0
      font-size:5px
      width:40px
      height:40px
      text-align:center
      z-index:1
      
      &.pinned
        display:block
      
      &:hover
        background-color:#dfe4e6
      
      i
        top:50%
        position:absolute
      
    &:hover

      .picker-trigger
        display:block
