@import 'nib'

.tag-list
  
  .list-title
    background: #FFF
    line-height: 50px
    padding-left: 20px
    border-bottom: 1px solid #e3e3e3
    color: #47525d
    a
      color: #47525d
      &:hover
        color: #000
  
  .list
    padding: 0
    margin: 0
    box-shadow: 0px 1px 0px 0px rgb(227,227,227)
    background: #FFF
  
    li
      line-height: 50px
      color: #677277
      position: relative
      text-transform:uppercase
      font-size:13px
      font-family:'proxima_nova_rgbold'
      a
        display: block
        color: #677277
    
    a.colorpicker
      width: 16px
      height: 16px
      border: 2px solid #a0d468
      display: block
      border-radius: 50%
      -webkit-border-radius: 50%
      -moz-border-radius: 50%
      position: absolute
      top: 16px
      right: 20px
      span.active
        width: 8px
        height: 8px
        background: #a0d468
        display: block
        border-radius: 50%
        -webkit-border-radius: 50%
        -moz-border-radius: 50%
        position: absolute
        top: 2px
        right: 2px
    
      
    .tag
      padding-left: 20px
      border-bottom: 1px solid #f1f1f1
      color: #677277
      a:hover
        color: #000
