@import 'nib'

.tag-list
  display:block

  .tag-row
    position:relative

    .tag
      padding:17px 30px 17px 60px
      display:block
      font-size:16px
      color:#67737a
      font-family:'ProximaNova Regular', sans-serif

      &.pinned
        font-family:'ProximaNova Semibold', sans-serif

      &:hover
        background-color:#dfe4e6

    .picker-trigger
      font-family:none
      position:absolute
      opacity:0.1
      top:0
      left:9px
      font-size:5px
      width:50px
      height:50px
      line-height:50px
      display:block
      text-align:center
      z-index:1
      color:#abb6bd
      
      &.pinned
        display:block
        opacity:1
      
      &:hover
        background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,254,1) 0%, rgba(255,255,255,0) 50%);
        background: -webkit-gradient(radial, center center, 0px, center center, 50%, color-stop(0%,rgba(255,255,254,1)), color-stop(50%,rgba(255,255,255,0)));
        background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,254,1) 0%,rgba(255,255,255,0) 50%);
        background: -o-radial-gradient(center, ellipse cover,  rgba(255,255,254,1) 0%,rgba(255,255,255,0) 50%);
        background: -ms-radial-gradient(center, ellipse cover,  rgba(255,255,254,1) 0%,rgba(255,255,255,0) 50%);
        background: radial-gradient(ellipse at center,  rgba(255,255,254,1) 0%,rgba(255,255,255,0) 50%);

      i
        display:block
        height:100%
        line-height:50px
        text-align:center
      
    &:hover

      .picker-trigger
        opacity:1
