<div class="tuble-review">
  <div class="meta">
    <a href="#"><img class="avatar" src="http://lorempixel.com/120/120/" /></a>
    <span class="author"><a href="#">Pietje Puk</a></span>
    <span class="rating-avg" title="3/5 sterren">
      <i class="icon-star"></i>
      <i class="icon-star"></i>
      <i class="icon-star"></i>
    </span>
  </div>
  <div class="tuble-review-text">
    <p>
      Ik ga mijn spreekbeurt houden over reviews. Lorem ipsum dolor sit amet,
      consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
  </div>
</div>
