<div class="tuble-container">

  <div class="tuble-sidebar-container">

    <hgroup class="tuble-header inner-padding" style="background-image:url(http://lorempixel.com/660/374/);">
      
      <h1 class="tuble-title">
        <span>Dit is een hele lange titel{{title}}</span>
      </h1>
      
      <h2>
        <span class="tuble-location">Girona Spain</span>
        <span class="tuble-rating" title="5/5 sterren">
          <i class="icon-star"></i>
          <i class="icon-star"></i>
          <i class="icon-star"></i>
          <i class="icon-star"></i>
          <i class="icon-star"></i>
        </span>
      </h2>
      
    </hgroup>

    <div class="tuble-information-container inner-padding">

      <ul class="tabs on-mobile">
        <li><a href="tubles/{{id}}" class="active" data-tabs="information">Informatie</a></li>
        <li><a href="tubles/{{id}}/reviews" class="on-mobile" data-tabs="reviews">Reviews</a></li></li>
      </ul>
      
      <div class="tab-contents inner-padding on-mobile"></div>

      <div class="non-mobile">
        <div class="row meta">
          <p>
            Hofweg 1a<br />
            2511 AA Den Haag<br />
            The Netherlands
          </p>
          <p>
            <a href="#" target="_blank">dudok.nl</a>
          </p>
        </div>
        <div class="row description">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat.
          </p>
          </p>
            Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
        </div>
        <div class="row map">
          <img src="img?lat=X&lng=X" />
        </div>
      </div>

    </div>

  </div>
  <div class="tuble-content-container non-mobile inner-padding">

    <div class="tuble-review-container">

      <div class="tuble-review">
        <div class="meta">
          <a href="#"><img class="avatar" src="http://lorempixel.com/120/120/" /></a>
          <span class="author"><a href="#">Pietje Puk</a></span>
          <span class="rating-avg" title="3/5 sterren">
            <i class="icon-star"></i>
            <i class="icon-star"></i>
            <i class="icon-star"></i>
          </span>
        </div>
        <div class="tuble-review-text">
          <p>
            Ik ga mijn spreekbeurt houden over reviews. Lorem ipsum dolor sit amet,
            consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
        </div>
      </div>

    </div>

  </div>

</div>
