<div class="tuble-card">
  <a href="{{url 'tuble#show' id}}">
    <img src="http://lorempixel.com/174/216/" alt="" />
    <div class="inner-padding">
      <h1>{{title}}</h1>
      <p class="tuble-card-summary">{{description}}</p>
    </div>
  </a>
</div>
