<div id="navigation-menu" class="navigation-menu navigation-buttons">
  <a href="{{url "home#show"}}" class="home-btn"><span>Home</span> <i class="icon-home"></i></a>
  <a href="#" class="active js-panel-btn search-btn"><span>Zoeken</span> <i class="icon-search"></i></a>
  <a href="profiles/me" class="profile-btn"><span>Profiel</span> <i class="icon-user"></i></a>
  <ul class="hob-nav"></ul>
</div>
