<form class="search-form">
  <input class="search-term" name="term" type="search" placeholder="Bijvoorbeeld: Hopper, Rotterdam" />
</form>

<div class="search-info"></div>

<div class="search-results"></div>
