<form action="#" method="post" class="edit-entry-form">

  <div class="ctrlHolder">
    <input placeholder="Title" id="l_title" type="text" name="title" value="" />
  </div>
   
  <div class="ctrlHolder">
    <input placeholder="URI" id="l_url" type="text" name="url" value="" />
  </div>

  <div class="ctrlHolder">
    <input placeholder="Tags" autofocus id="l_tags" type="text" name="tags" value="" />
  </div>

  <div class="ctrlHolder">
    <textarea  placeholder="Notes" id="l_notes" name="notes"></textarea>
  </div>

  <div class="ctrlHolder">
    <input type="submit" value="Save" />
    {{#if id}}
      <input type="button" value="Cancel" class="js-cancel button blue" />
    {{/if}}
  </div>

</form>