<form action="#" method="post" class="edit-entry-form">

  <div class="ctrlHolder has-icon title">
    <input placeholder="Title" id="l_title" type="text" name="title" value="" />
    {{#if this.oldTitle}}
    <p class="note">Note: You had previously stored this entry as "<code>{{this.oldTitle}}</code>".</p>
    {{/if}}
  </div>

  <div class="ctrlHolder has-icon url">
    <input placeholder="URI" id="l_url" type="text" name="url" value="" />
  </div>

  <div class="ctrlHolder has-icon tags">
    <input placeholder="Tags, separated by commas" id="l_tags" type="text" name="tags" value="" />
  </div>

  <div class="ctrlHolder has-icon notes">
    <textarea placeholder="Notes" id="l_notes" name="notes"></textarea>
  </div>

  <div class="buttonHolder actions">
    {{#if _id}}
    <a href="#" class="js-discard cancel">Discard</a>
    {{!-- <a href="#" class="js-close btn cancel">Close</a> --}}
    {{/if}}
    <input type="submit" value="Save" class="btn blue save" />
  </div>

</form>
