<div class="header">
  <h2 class="title active">My History</h2>
  <a class="js-add-entry button reddish" href="#">
    <i class="fa fa-toggle-down"></i>
    <span data-toggle-text="Cancel" data-default-text="Add New">Add New</span>
  </a>
</div>

<div class="new-entry-container"></div>

<div class="item-container"></div>
