<form class="feedback-form">
  <div>
    <label>Email Address</label>
    <p class="email-address">your@address.com</p>
    <input type="text" name="email" id="l_email" value="{{email}}">
  </div>
  <div>
    <label for="l_subject">Subject</label>
    <input type="text" name="subject" id="l_subject" value="" placeholder="">
  </div>
  <div>
    <label for="l_message">Message</label>
    <textarea name="message" id="l_message" placeholder="Give as much detail as you can. Specific examples are really helpful."></textarea>
  </div>
  <p class="submit">
    <input type="submit" value="Send feedback" class="btn green submit clearfix" />
  </p>
</form>
