<div class="header">
  <h2 class="title">My History</h2>
  <div id="actions">
    <form>
      <input type="search">
      <a class="button blue js-add-entry" href="#">
        <i class="fa fa-link"></i>
        Add Link
      </a>
    </form>
  </div>
</div>