<div class="header">
  <h2 class="title">My History</h2>
  <a class="button blue js-add-entry" href="#">
    <i class="fa fa-link"></i>
    <span data-toggle-text="Close form" data-default-text="Add link">Add Link</span>
  </a>
  <div id="actions">
    <form>
      <input type="search" placeholder="Search">
    </form>
  </div>
</div>