<div class="header">
  <h2 class="title active">My History</h2>
  <a class="js-add-entry button reddish" href="#">
    <i class="fa fa-link"></i>
    <span data-toggle-text="Cancel" data-default-text="Add link">Add Link</span>
  </a>
</div>

<div class="pro-tip">
  <em>PRO TIP</em> Drag this link to your bookmarks bar to add entries really easily <i class="fa-long-arrow-right fa"></i> <a href="javascript:window.open('http://webistor.net/add?title='+encodeURIComponent(document.title)+'&url='+encodeURIComponent(location.href), '_blank');" class="tooltip" data-title="Drag this link to your bookmarks bar">Save to Webistor</a>
  <a href="#" class="dismiss" title="Click to hide this message"><i class="fa fa-times"></i></a>
</div>

