<div class="header">
  <h2 class="title">My History</h2>
  <form id="search-form">
    <input type="search" name="search" placeholder="Search">
  </form>
  <a class="js-add-entry button blue" href="#">
    <i class="fa fa-link"></i>
    <span data-toggle-text="Cancel" data-default-text="Add link">Add Link</span>
  </a>
</div>
