<div class="header">
  <h2 class="title">My History</h2>
  <form id="search-form">
    <div class="ctrlHolder has-icon search">
      <input type="search" name="search" placeholder="Search" list="search-suggestions" />
      <datalist id="search-suggestions"></datalist>
    </div>
  </form>
  <a class="js-add-entry button blue" href="#">
    <i class="fa fa-link"></i>
    <span data-toggle-text="Cancel" data-default-text="Add link">Add Link</span>
  </a>
</div>
