<div class="header">
  <h2 class="title active">My History</h2>
  <a class="js-add-entry button blue" href="#">
    <i class="fa fa-link"></i>
    <span data-toggle-text="Cancel" data-default-text="Add link">Add Link</span>
  </a>
</div>
