<div class="header">
  <h2 class="title">My History</h2>
  <form id="search-form">
    <input type="search" placeholder="Search">
  </form>
</div>

<div class="entry toggle-row">
  <a class="js-add-entry" href="#">
    <i class="fa fa-link"></i>
    <span data-toggle-text="Close form" data-default-text="Add link">Add Link</span>
  </a>
</div>