<a href="search/#{{this.title}}" class="{{#if this.color}}pinned{{/if}}">
  {{this.title}}
</a>

<a href="#" title="{{this.num}} Bookmark(s) in this tag. Pin it by choosing a color."
  class="colorpicker picker-trigger{{#if this.color}} pinned{{/if}}"
  {{#if color}}style="border-color:{{this.color}};"{{/if}}>
</a>
